@import "../components/twbs-bootstrap-sass/vendor/assets/stylesheets/bootstrap"

.navbar
  border-radius: 0

.auth-modal
  .nav
    margin: 1.2rem 0 -1.6rem
  .login-options
    .option
      font-weight: bold
      padding: 1rem 0
      cursor: pointer
    .option:hover
      background-color: $gray-lighter